@import 'https://fonts.googleapis.com/css?family=Exo';@import 'https://fonts.googleapis.com/css?family=Acme';body {
    background: #444
}

#background {
    width: 100%;
    height: 100%;
    z-index: -99;
    position: fixed;
    top: 0;
    left: 0;
    background: url(https://time2watch.in/images/wallpaper/pattern_background.png) repeat
}

::-webkit-scrollbar{width:10px}
::-webkit-scrollbar-track{background:#000}
::-webkit-scrollbar-thumb{background:#555}
::-webkit-scrollbar-thumb:hover{background:#888}

#respondsamere {
            max-width: 700px;
            width: 98%;
            margin: auto;
            text-align: center;
            padding-top: 25px;
            display: flex;
            padding-bottom: 10px;
    }

@media(max-width: 1000px) {
    #respondsamere {
            max-width: 700px;
            width: 98%;
            margin: auto;
            text-align: center;
            padding-top: 25px;
            display: block;
            padding-bottom: 10px;
    }
}

#background_filtre {
    width: 100%;
    height: 150%;
    z-index: -98;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.4)
}

.navbar-brand {
    font-size: 25px
}

:focus {
    outline: transparent auto 0
}

#titre_index {
    margin: auto;
    text-align: center;
    font-size: 70px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 4px 8px #000;
    color: #eaeaea;
}

.social_index {
    margin: 0 auto 20px
}

.social_index i {
    font-size: 20px;
    position: relative;
    top: 2px
}

.social_index a {
    color: #fff!important
}

.twt {
    color: #1da1f2
}

.fb {
    color: #3b5998
}

.twitter-timeline {
    display: block!important;
    margin: 10px auto 100px!important;
    *width: 95%!important;
    *border-top: 1pxsolidrgba(255,255,255,0.35)!important
}

#show_twitter_timeline {
    display: none
}

h2 {
    margin-top: 0;
    font-size: 25px;
    text-shadow: 0 0 5px #000
}

h2 a {
    color: #fff
}

h2 a:hover {
    color: #fff
}

.description_site {
    max-width: 700px!important;
    padding: 20px
}

h4 {
    padding: 5px;
    background: rgba(0,0,0,.45);
    margin: 0 auto;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px
}

h3 {
    padding: 5px;
    background: rgba(0,0,0,.65);
    margin: 0 auto 5px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border: 1px solid rgba(15,15,15,.25);
    border-bottom: 0
}

#search2 {
    max-width: 400px;
    width: 90%!important;
    margin: 20px auto 40px
}

.stats {
    max-width: 300px!important;
    width: 100%!important;
    margin-top: 20px
}

.top-month-list {
    *margin: auto;
    *padding: 00010px;
    *text-align: left;
    *max-width: 300px;
    *width: 99%
}

.top-month-list-item {
}

.top-month-list-icon {
    display: none;
    *background: #888888;
    *border-radius: 99px;
    *width: 15px;
    *height: 15px;
    *padding-left: 3px;
    *padding-bottom: 16px;
    *font-size: 12px;
    *display: inline-block;
    *color: black
}

.titre_section_index {
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    position: relative
}

.titre_section_index h2 {
    margin-bottom: 5px
}

.titre_section_index p {
    text-shadow: 0 0 5px #000
}

.titre_section_index div {
    position: absolute;
    right: 2px;
    top: 3px;
    background: #13bf50;
    width: 50px;
    line-height: 30px;
    border-radius: 2px;
    color: #fff;
    cursor: pointer
}

#mail_footer {
    color: grey;
    margin: auto;
    text-align: center;
    font-size: 11px;
    position: absolute;
    bottom: 5px;
    left: 35px
}

@media(max-width: 768px) {
    #titre_index {
        display:none
    }

    .titre_section_index div {
        line-height: 25px
    }

    #mail_footer {
        display: none
    }
}

#main_title {
    font-size: 28px;
    color: #ccc!important;
    margin-top: 10px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none!important;
    font-family: 'Exo',sans-serif
}

#main_title:hover,#main_title:focus {
    text-decoration: none!important;
    color: #fff!important
}

.notif-fa-icon-bar {
    color: #3f3f3f;
    font-size: 14px;
    position: absolute;
    right: 38px;
    top: 9px;
    z-index: 43;
    cursor: pointer
}

.response-fa-icon-bar {
    color: #3f3f3f;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 9px;
    z-index: 43;
    cursor: pointer
}

#avatar {
    margin: auto;
    text-align: center;
    max-width: 140px;
    max-height: 140px;
    display: block;
	border-radius: 50%;
	border: 2px solid #404040;
}

#register_form {
    max-width: 600px;
    width: 90%;
    margin: auto;
    color: #fff
}

#search,#search2 {
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.in-search {
    position: absolute;
    color: rgba(255,255,255,.53);
    left: 10px;
    top: 9px;
    font-size: 15px;
    z-index: 5;
    cursor: pointer
}

#string_to_search,#string_to_search2 {
    background: rgba(0,0,0,.38);
    color: #fff;
    border-radius: 1px;
    padding-left: 30px;
    border: 1px solid rgba(255,255,255,.38)
}

.sidebar {
    *background: rgba(0,0,0,0.76);
    background: rgba(0,0,0,.8);
    color: #aaa
}

#side-menu a,.sidebar .dropdown-toggle {
    color: #aaa!important
	padding: 15px;
}

.sidebar .dropdown-toggle:hover {
    color: #fff!important
}

#side-menu li a:hover {
    color: #fff!important
}

.dropdown-menu a {
    color: #444!important
}

.dropdown-menu a:hover {
    color: #1c6398!important
}

.nav-second-level {
    *background: rgba(43,43,43,0.43);
    background: rgba(21,21,21,.91);
}

.sidebar {
    overflow-y: auto;
    overflow-x: hidden
}

.sidebar::-webkit-scrollbar {
    width: 0;
    height: 0
}

.sidebar::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0
}

.sidebar::-webkit-scrollbar-thumb:vertical {
    background-color: #666;
    -webkit-border-radius: 0
}

.sidebar::-webkit-scrollbar-thumb:horizontal {
    background-color: #666;
    -webkit-border-radius: 0
}

@media(min-width: 768px) {
    .navbar-header {
        display:none
    }

    .navbar {
        height: 0;
        min-height: 0
    }

    .sidebar {
        padding-top: 10px;
        margin: 0;
        height: 100%;
        position: fixed
    }

    .navbar-top-links .dropdown-messages,.navbar-top-links .dropdown-alerts,.navbar-top-links .dropdown-user {
        left: 0!important;
        right: auto!important
    }
}

@media(max-width: 768px) {
    #main_title {
        display:none
    }

    #avatar {
        margin-top: 20px
    }

    .navbar-header {
        background: rgba(0,0,0,.88);
        color: #e0e0e0!important;
        *width: 100%;
        z-index: 99999;
        padding: 10px 0
    }

    .navbar-header a {
        color: #e0e0e0!important
    }

    .navbar-default .navbar-toggle {
        border-color: transparent
    }

    .navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus {
        background: 0 0
    }

    .icon-bar {
        *background: #e0e0e0!important
    }

    .sidebar {
        *padding-top: 49px
		background: rgba(0,0,0,.80);
    }

    .navbar-default .navbar-collapse,.navbar-default .navbar-form {
        border-color: transparent
    }
}

#section_liste {
    min-height: 600px;
    margin: auto;
    text-align: center;
    margin-top: 20px
}

#section_liste a {
    text-decoration: none!important
}

.item_liste {
    max-width: 900px;
    width: 96%;
    height: 120px;
    margin: auto auto 10px;
    background: rgba(0,0,0,.61);
    padding: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    display: block;
    text-decoration: none!important;
    text-align: left;
    color: #fff
}

.item_liste:hover,.item_liste:focus {
    color: #fff
}

.titre_page {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    margin: auto;
    text-align: center
}

#section_form {
    max-width: 800px;
    margin: auto;
    margin-top: 50px
}

.fiche_membre {
    max-width: 800px!important;
    width: 95%;
    padding: 20px;
    min-height: 200px;
    margin-top: 10px
}

.fiche_membre img {
    max-width: 140px;
    max-height: 140px
}

.titre_section_account {
    font-size: 20px;
    text-align: center
}

.titre_sous_section_account {
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px
}

.duree_tableau {
    text-align: center;
    margin: auto
}

.duree_tableau td {
    padding: 5px;
    color: #bdbdbd
}

.duree_titre td {
    font-size: 20px;
    color: #fff!important;
    width: 25%;
    border-left: 1px solid rgba(255,255,255,.1)
}

.duree_titre td:first-child {
    border: 0
}

h1 {
    text-shadow: 0 0 4px #000
}

.td_affiche_liste {
    position: relative;
    overflow: hidden
}

.bandeau_type {
    position: absolute;
    top: 10px;
    left: -25px;
    background: rgba(0,0,0,.74);
    border: 1px solid #232323;
    color: #000;
    width: 100px;
    text-align: center;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.affiche_liste {
    width: 110px;
    border-radius: 3px 0 0 3px
}

.affiche_liste_seen {
    width: 110px;
    height: 165px;
    border-radius: 3px 0 0 3px;
    background: rgba(142,142,142,.36);
    position: absolute;
    text-align: center;
    line-height: 165px;
    font-size: 50px;
    color: rgba(255,255,255,.65);
	background: rgba(84, 84, 84, 0.36);
	color: #ffffffc2;
}

.langue_vfr {
    display: inline-block;
    margin: 2px auto;
    padding: 1px 2px;
    border-radius: 2px
}

.langue_vostfr {
    display: inline-block;
    margin: 2px auto;
    padding: 1px 2px;
    border-radius: 2px
}

.qualite_hd {
    display: inline-block;
    margin: 2px auto;
    padding: 1px 2px;
    border-radius: 2px
}

.duree {
    background: rgba(48,181,187,.55);
    display: inline-block;
    margin: 2px auto;
    padding: 1px 4px;
    border-radius: 2px;
    background: #1d6b6e
}

.date_ajout {
    background: rgba(218,77,77,.53);
    display: inline-block;
    margin: 2px auto;
    padding: 1px 4px;
    border-radius: 2px;
    background: #732525
}

.nb_coms {
    background: rgba(65,146,218,.58);
    display: inline-block;
    margin: 2px auto;
    padding: 1px 4px;
    border-radius: 2px;
    background: #22537f
}

.nb_fav {
    background: rgba(255,255,9,.51);
    display: inline-block;
    margin: 2px auto;
    padding: 1px 4px;
    border-radius: 2px;
	background: #8b8b15;
}

.inside_liste {
    position: relative;
    height: 165px
}

.info_synopsis {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: rgba(150,150,150,.61)
}

.synopsis_hover {
    background: #e0e0e0;
    position: absolute;
    bottom: 18px;
    right: 17px;
    max-width: 500px;
    width: 95%;
    padding: 10px;
    color: #000;
    border: 1px solid #000;
    border-radius: 1px
}

.informations_liste {
    position: absolute;
    bottom: 5px
}

.liste-content {
    padding: 10px;
    vertical-align: top;
    text-align: left;
    color: #fff;
	padding: 15px 10px 10px;
}

.liste-content-small {
    margin: 3px auto 0;
    color: #c5c4c4
}

.fav_star {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ff0
}

@media(min-width: 768px) {
    .informations_liste {
        bottom:10px
    }

    .liste-content {
        padding: 20px 10px 10px;
        vertical-align: top;
        text-align: left;
        color: #fff
    }

    .liste-content-small {
        margin: 10px auto;
        font-size: .85em
    }
}

@media(max-width: 768px) {
    .without_padding {
        padding-right:1px;
        padding-left: 1px
    }

    .fav_star {
        top: 3px;
        right: 3px
    }
}

@media(min-width: 1200px) and (max-width:1290px) {
    .liste-content {
        padding-top:10px
    }

    .duree {
        margin: 2px auto;
        padding: 1px 3px;
        font-size: 12px
    }

    .date_ajout {
        margin: 2px auto;
        padding: 1px 3px;
        font-size: 12px
    }

    .nb_coms {
        margin: 2px auto;
        padding: 1px 3px;
        font-size: 12px
    }

    .nb_fav {
        margin: 2px auto;
        padding: 1px 3px;
        font-size: 12px
    }

    .langue_vfr {
        margin: 1px auto;
        padding: 1px 2px;
        font-size: 12px
    }

    .langue_vostfr {
        margin: 1px auto;
        padding: 1px 2px;
        font-size: 12px
    }

    .qualite_hd {
        margin: 1px auto;
        padding: 1px 2px;
        font-size: 12px
    }
}

.panel-body h1 {
    padding-left: 10%;
    padding-bottom: 10px;
    font-size: 30px
}

.reglages_fiche {
    position: absolute;
    top: -10px;
    right: 5px;
    color: #fff;
    width: 40px;
    line-height: 40px;
    cursor: pointer
}

#reglages_fiche a{
	background: #2b2b2bde !important;
    color: #fff !important;
}

#btn_change_id_TMDb{
	background: #2b2b2bde !important;
    color: #fff !important;
}

.fiche_info_div {
    padding-top: 20px
}

.fiche_info_p {
    margin-bottom: 5px
}

.fiche_info_tl {
    *border-radius: 2px;
    padding: 1px;
    border-bottom: 1px solid #292929;
    font-weight: 700
}

#a_bande_annonce,#a_bande_annonce:hover,#a_bande_annonce:focus,#a_bande_annonce:active,#a_bande_annonce:visited {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    display: block
}

.links {
    margin-left: 2%;
	max-width: 530px;
	margin: auto;
}

.links a {
    color: #000!important
}

.fiche .panel-body li {
    background: #fff;
    border-bottom: 1px solid #afafaf
}

.fiche .panel-body li a {
    color: #000
}

.fiche .panel-body li li {
    border-top: 1px solid #dadada;
    border-bottom: 0;
    background: #efefef
}

.fiche .panel-body li li li {
    border-top: 0;
    line-height: 10px;
    background: #e2e2e2
}

.sais_seen {
    float: left;
    display: block;
    position: absolute;
    z-index: 1;
    width: 35px;
    cursor: pointer;
    line-height: 35px;
    padding-left: 5px;
    padding-top: 1px
}

.ep_seen {
    float: left;
    display: block;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    line-height: 36px;
    width: 50px;
    padding-left: 15px
}

.uploadeur {
    color: #3a3a3a;
    font-size: 12px
}

.synopsis {
    width: 93%;
    margin: 10px auto auto;
    padding: 8px;
    margin-bottom: 20px;
    text-align: justify;
    *border-bottom: 1pxsolid#292929;
    *background: rgba(66,66,66,0.38);
    background: rgba(21,21,21,.91);
	max-width: 860px;
}

.actor {
    margin: auto;
    text-align: center;
    margin-top: 10px;
    width: 94%;
    *border-top: 1pxsolid#292929;
    *padding-top: 10px;
    *height: 100px;
    overflow: hidden
}

.actor-block {
    display: inline-block;
    vertical-align: top
}

.actor-img {
    margin-right: 5px;
    margin-left: 5px;
    width: 70px;
    height: 70px;
    line-height: 80px;
    border-radius: 99px;
    overflow: hidden;
    *border: 1pxsolidblack
}

.actor-img img {
    width: 70px;
    margin-top: -10px
}

.actor-name {
    text-align: center;
    width: 80px;
    font-size: 12px;
    color: #fff
}

.actor-block:hover,.actor-block a:hover {
    text-decoration: underline;
    color: #fff
}

.actor_liste a:hover {
    text-decoration: none!important
}

.fav {
    display: inline-block;
    margin: 2px auto 10px;
    padding: 1px 4px;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 10%
}

.fav i {
    color: #ff0
}

@media(max-width: 768px) {
    .fav {
        margin:0 auto 5px;
        text-align: center;
        display: block;
        width: 80%
    }
}

#addfavoris,#addfavoris i {
    color: #ff0
}

#favorisok,#favorisok i {
    color: #5bf38a;
    cursor: default
}

#delfavoris,#delfavoris i {
    color: #e93e3e
}

#info {
    max-width: 700px;
    width: 98%;
    *background: rgba(49,145,218,0.45);
    background: rgba(32,97,146,.81);
    padding: 15px;
    margin: 30px auto -20px;
    border-radius: 2px
}

#info #info_fa {
    display: block;
    width: 20px;
    *vertical-align: top;
    float: left
}

#info #info_description {
    display: block;
    width: 95%;
    float: left;
    *text-align: justify
}

@media(max-width: 500px) {
    #info #info_description {
        width:85%
    }
}

@media(min-width: 768px) and (max-width:850px) {
    #info #info_description {
        width:90%
    }
}

#commentaires {
    max-width: 800px;
    margin: 50px auto
}

#commentaires form {
    max-width: 700px;
    margin: auto;
    *margin-bottom: 20px
}

#commentaire_form {
    background: 0 0;
    color: #fff;
    height: 50px;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px
}

#commentaire_form:focus {
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.coms_main_block {
    *border-top: 1pxsolid#4e4e4e;
    padding: 10px 0;
    word-wrap: break-word;
    position: relative;
    background: rgba(21,21,21,.88);
    padding: 10px;
    border-left: 2px solid #44a9ff;
    margin-top: 14px;
    border-top: 0 solid #4e4e4e
}

#commentaires>.coms_main_block~.coms_main_block,.coms_reponse_decalage {
    *border-top: 1pxsolid#4e4e4e;
    word-wrap: break-word;
    position: relative;
    padding: 10px
}

.coms_del_com {
    float: right;
    font-size: 20px;
    color: red;
    cursor: pointer
}

.coms_avatar_block {
    border-radius: 2px;
    overflow: hidden;
    float: left;
    width: 56px;
    height: 56px;
    margin: 2px 10px 0 0;
    text-align: center;
    border: 1px solid rgba(255,255,255,.05);
    line-height: 52px;
    background: rgba(255,255,255,.05)
}

.coms_avatar_block img {
    margin: auto;
    max-width: 100%;
    vertical-align: middle;
    max-height: 100%
}

.coms_pseudo {
    border-bottom: 1px solid #909090
}

.coms_pseudo a,.coms_pseudo a:hover,.coms_pseudo a:visited,.coms_pseudo a:active,.coms_pseudo a:focus {
    color: #fff;
    text-decoration: none
}

.coms_date {
    color: #a0a0a0
}

.coms_commentaire {
    display: block;
    margin-left: 65px;
    color: #dadada
}

.coms_btn_reply {
    font-size: 12px;
    color: #565656;
    cursor: pointer
}

.coms_btn_reply:hover {
    text-decoration: underline
}

.coms_show_response {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 8px 0;
    font-size: 12px;
    cursor: pointer;
    color: #eaeaea;
    background: #0060b1
}

.coms_reponse_decalage {
    margin-left: 55px
}

@media(max-width: 767px) {
    .coms_reponse_decalage {
        margin-left:25px
    }
}

.coms_emoji {
    width: 20px
}

.prevention_demande {
    max-width: 700px;
    margin: auto;
    margin-bottom: 20px;
    color: #dadada;
    font-size: 12px
}

#post {
    height: 50px;
    width: 50px;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px
}

.commentaire_grade_style {
    background: rgba(0,0,0,.48);
    box-shadow: 0 0 5px #000;
    padding: 0 2px
}

#voir_plus {
    display: block;
    cursor: pointer;
    margin: 20px auto;
    text-align: center
}

@media(max-width: 767px) {
    .panel-body {
        padding:10px
    }

    .synopsis {
        width: 99%
    }

    .links {
        margin-left: -15px
    }

    .panel-body h1 {
        padding-left: 0
    }

    #page-wrapper {
        *padding-right: 15px;
        *padding-left: 15px
    }

    .row {
        margin-right: 0;
        margin-left: 0
    }

    .col-md-6 {
        padding-right: 0;
        padding-left: 0
    }
}

#fav_onglets {
    margin-bottom: 10px
}

#fav_onglets p {
    display: inline-block;
    background: rgba(0,0,0,.72);
    padding: 4px 10px;
    border-radius: 99px;
    cursor: pointer
}

.notifications {
    max-width: 800px!important;
    width: 98%;
    text-align: left
}

#re_captcha {
    max-width: 800px;
    width: 98%;
    margin: auto;
    margin-top: 20px;
    text-align: center
}

#re_captcha form {
    margin: auto;
    text-align: center
}

.g-recaptcha {
    display: inline-block
}

#re_captcha input {
    margin-bottom: 50px;
    background: -webkit-gradient(linear,left top,left bottom,from(#82CC5D),to(#53B73C) );
    border: 0;
    padding: 10px;
    border-radius: 2px
}

#re_captcha p {
    padding: 2px 5px
}

#section_genre {
    max-width: 800px;
    width: 98%;
    margin: auto;
    margin-top: 20px;
    text-align: center
}

#section_genre a {
    background: #fff;
    color: #000;
    padding: 7px 9px;
    margin: 10px 5px;
    display: inline-block;
	background: #2b2b2bde;
	color: white;
	padding: 7px 9px;
	margin: 10px 5px;
	display: inline-block;
	border: 1px solid #ffffff30;
}

#section_alpha {
    max-width: 800px;
    width: 98%;
    margin: auto;
    margin-top: 20px;
    text-align: center
}

#section_alpha li {
    color: #fff;
    padding: 7px 9px;
    display: inline-block
}

.panel-s4i {
    border-color: rgba(15,15,15,.25);
    background-color: rgba(0,0,0,.76);
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    *overflow: hidden;
    background: rgba(0,0,0,.76) url(https://time2watch.in/images/wallpaper/dark_mosaic.png) repeat
}

.panel-s4i>.panel-heading {
    color: #ddd;
    background-color: rgba(0,0,0,.5);
    border-color: rgba(15,15,15,.45);
    font-size: 1.2em;
    font-weight: 700
}

.panel-s4i>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd
}

.panel-s4i>.panel-heading .badge {
    color: #f5f5f5;
    background-color: rgba(51,51,51,.2)
}

.panel-s4i>.panel-footer+.panel-collapse>.panel-body {
    border-color: rgba(15,15,15,.45)
}

.panel-no-border>.panel-body {
    padding: 0
	text-align: center;
}

.etape {
    background: #000;
    border-radius: 8px;
    max-width: 400px;
    width: 95%;
    margin: 10px auto;
    padding: 5px 5px 15px
}

.etape h5 {
    color: #46c744;
    font-size: 30px
}

.etape input {
    color: #000;
    max-width: 60px;
    width: 80%
}

.spinner {
    width: 70px;
    display: inline-block
}

.spinner input {
    text-align: right
}

.spinner .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell
}

.spinner .input-group-btn-vertical>.btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px;
    margin-left: -1px;
    position: relative;
    border-radius: 0
}

.spinner .input-group-btn-vertical>.btn:first-child {
    border-top-right-radius: 4px
}

.spinner .input-group-btn-vertical>.btn:last-child {
    margin-top: -2px;
    border-bottom-right-radius: 4px
}

.spinner .input-group-btn-vertical span {
    font-size: 11px;
    position: absolute;
    color: #676666;
    top: 0;
    left: 3px
}

.light_pagination {
    background: 0 0!important;
    border: 0!important
}

.pagination {
    background: rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.25)
}